Repository XYShaoKang/video-http-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

docs: move image position
  docs/assets/list.jpg
  docs/assets/play.jpg
  docs/overview.md
Due: none

chore(video-http-server): add license
  apps/video-http-server/LICENSE
Due: none

chore(front-end): add license
  apps/front-end/LICENSE
Due: none

chore(video-http-server): add npmignore file
  apps/video-http-server/.npmignore
Due: none

docs(video-http-server): add readme
  apps/video-http-server/README.md
Due: prettier --write

docs: add doc
  README.md
  docs/assets/cli-preview.gif
  docs/maintainers.md
Due: none

docs: update readme
  README.md
Due: none

chore(release): 0.0.2
  apps/video-http-server/CHANGELOG.md
  apps/video-http-server/package.json
Due: prettier --write

docs(video-http-server): fix readme
  apps/video-http-server/README.md
Due: prettier --write

docs(video-http-server): update README
  apps/video-http-server/README.md
Due: prettier --write

chore(release): 0.1.0
  apps/front-end/package.json
  apps/video-http-server/CHANGELOG.md
  apps/video-http-server/package.json
Due: prettier --write

chore: update travis node version
  .travis.yml
Due: none

docs: add build status badge
  README.md
Due: none

docs: fix path
  README.md
Due: none

docs: use reference-style link
  README.md
Due: none

ci: add test
  .travis.yml
Due: none

chore: update typescript to ^4.4.2
  apps/front-end/package.json
  apps/video-http-server/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(video-http-server): fix jest reporter
  apps/video-http-server/jest.config.js
  apps/video-http-server/jest/JestReporter.js
  apps/video-http-server/jest/setupTests.ts
  apps/video-http-server/tsconfig.build.json
  apps/video-http-server/tsconfig.json
Due: eslint --fix --color, prettier --write

chore(front-end): fix jest reporter
  apps/front-end/jest.config.js
  apps/front-end/src/JestReporter.js
Due: none

chore(front-end): fix source link
  apps/front-end/src/JestReporter.js
Due: none

Path conditions:
  eslint --fix --color: any of: apps/**/*.{ts,tsx}
  prettier --write: (any of: apps/**/*.{ts,tsx}) or (any of: apps/**/*.md)
