Repository XYShaoKang/video-http-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

chore(front-end): change mock server
  apps/front-end/config/development.mjs
  apps/front-end/config/mock.mjs
  apps/front-end/package.json
Due: none

chore: add license
  LICENSE
Due: none

chore: fix lintstaged config
  .lintstagedrc.js
Due: none

chore(video-http-server): fix build order
  apps/video-http-server/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(video-http-server): change client file location
  apps/video-http-server/package.json
  apps/video-http-server/src/server.ts
  common/config/rush/pnpm-lock.yaml
Due: eslint --fix --color, prettier --write

build(video-http-server): remove lib from git
  apps/video-http-server/.gitignore
  apps/video-http-server/lib/cli.d.ts
  apps/video-http-server/lib/cli.js
  apps/video-http-server/lib/cli.js.map
  apps/video-http-server/lib/getInfo.d.ts
  apps/video-http-server/lib/getInfo.js
  apps/video-http-server/lib/getInfo.js.map
  apps/video-http-server/lib/router.d.ts
  apps/video-http-server/lib/router.js
  apps/video-http-server/lib/router.js.map
  apps/video-http-server/lib/server.d.ts
  apps/video-http-server/lib/server.js
  apps/video-http-server/lib/server.js.map
  apps/video-http-server/lib/utils.d.ts
  apps/video-http-server/lib/utils.js
  apps/video-http-server/lib/utils.js.map
Due: eslint --fix --color, prettier --write

fix(video-http-server): fix depth
  apps/video-http-server/src/getInfo.ts
  apps/video-http-server/src/router.ts
Due: eslint --fix --color, prettier --write

fix(video-http-server): fix single-page application
  apps/video-http-server/src/server.ts
Due: eslint --fix --color, prettier --write

chore(video-http-server): fix package.json
  apps/video-http-server/package.json
  common/config/rush/pnpm-lock.yaml
Due: none

chore(front-end): fix build script
  apps/front-end/package.json
Due: none

chore(video-http-server): update package.json info
  apps/video-http-server/package.json
Due: none

chore(release): 0.0.1
  apps/video-http-server/CHANGELOG.md
Due: prettier --write

test(front-end): fix test case
  apps/front-end/package.json
  apps/front-end/src/App.test.tsx
Due: eslint --fix --color, prettier --write

test(video-http-server): fix test case
  apps/video-http-server/src/getInfo.test.ts
Due: eslint --fix --color, prettier --write

chore: fix publish config
  rush.json
Due: none

chore: fix `rush change` config
  rush.json
Due: none

chore: add rush test command
  common/config/rush/command-line.json
Due: none

chore(front-end): dependent lock file
  common/config/rush/pnpm-lock.yaml
Due: none

docs: rename overview
  doc/overview.md
Due: none

docs: rename docs
  docs/list.jpg
  docs/overview.md
  docs/play.jpg
Due: none

Path conditions:
  eslint --fix --color: any of: apps/**/*.{ts,tsx}
  prettier --write: (any of: apps/**/*.{ts,tsx}) or (any of: apps/**/*.md)
