Repository XYShaoKang/video-http-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{ts,tsx}": ["eslint --fix --color", "prettier --write"],
  "apps/**/*.md": ["prettier --write"]
}

chore: update publish config
  common/config/rush/.npmrc-publish
Due: none

fix(front-end): fix nav link
  apps/front-end/src/Main.tsx
Due: eslint --fix --color, prettier --write

feat(qingfuwu): init qingfuwu
  apps/qingfuwu/.eslintrc.js
  apps/qingfuwu/.gitignore
  apps/qingfuwu/.inspirecloudignore
  apps/qingfuwu/README.md
  apps/qingfuwu/index.js
  apps/qingfuwu/inspirecloud.json
  apps/qingfuwu/jest.config.js
  apps/qingfuwu/package.json
  apps/qingfuwu/src/app.ts
  apps/qingfuwu/src/controllers/infoController.ts
  apps/qingfuwu/src/models/infoTable.ts
  apps/qingfuwu/src/routers/file.ts
  apps/qingfuwu/src/routers/info.ts
  apps/qingfuwu/src/services/infoService.ts
  apps/qingfuwu/src/types/@byteinspire/api.d.ts
  apps/qingfuwu/src/types/@byteinspire/db.d.ts
  apps/qingfuwu/tsconfig.build.json
  apps/qingfuwu/tsconfig.json
  common/config/rush/pnpm-lock.yaml
  rush.json
Due: eslint --fix --color, prettier --write

chore(video-http-server): fix wrong character
  apps/video-http-server/.npmignore
Due: none

docs: add qingfuwu to projects table
  README.md
Due: none

chore(release): 0.1.1
  apps/video-http-server/CHANGELOG.json
  apps/video-http-server/CHANGELOG.md
  apps/video-http-server/package.json
Due: prettier --write

chore: update rush.json git-policy
  rush.json
Due: none

chore: update rush pnpm version
  rush.json
Due: none

docs: add badge
  README.md
Due: none

chore: change ci from travis to github action
  .github/workflows/publish.yml
  .travis.yml
Due: none

docs: update ci badge
  README.md
Due: none

chore: update action name
  .github/workflows/publish.yml
Due: none

chore: use npmjs.org registry
  common/config/rush/.npmrc
Due: none

chore: rush update
  common/config/rush/pnpm-lock.yaml
Due: none

fix(qingfuwu): fix @byteinspire/api types
  apps/qingfuwu/package.json
Due: none

chore: add test command
  apps/qingfuwu/package.json
Due: none

docs: update doc
  README.md
  docs/maintainers.md
  docs/overview.md
Due: none

chore(video-http-server): update dev script
  apps/video-http-server/package.json
Due: none

chore(front-end): update dev script
  apps/front-end/package.json
Due: none

fix(front-end): fix long text
  apps/front-end/src/List.tsx
Due: eslint --fix --color, prettier --write

feat(front-end): add tooltip
  apps/front-end/src/List.tsx
  apps/front-end/src/Player.tsx
  apps/front-end/src/Tooltip.tsx
  apps/front-end/src/tools.ts
  apps/front-end/src/useHover.ts
Due: eslint --fix --color, prettier --write

fix(front-end): tooltip should disappear automatically
  apps/front-end/src/App.test.tsx
  apps/front-end/src/List.tsx
Due: eslint --fix --color, prettier --write

chore: rusn change
  common/changes/video-http-server/master_2021-09-10-14-29.json
Due: none
