Repository XYShaoKang/video-http-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --color, prettier --write

.lintstagedrc.json:

{
  "apps/**/*.{ts,tsx}": ["eslint --fix --color", "prettier --write"],
  "apps/**/*.md": ["prettier --write"]
}

chore: fix rush version and rush lint conflict
  common/config/rush/command-line.json
Due: none

chore: fix rush-lint shrinkwrap file
  common/autoinstallers/rush-lint/pnpm-lock.yaml
Due: none

chore: deleting change files and updating change logs for package updates. [skip ci]
  apps/video-http-server/CHANGELOG.json
  apps/video-http-server/CHANGELOG.md
  common/changes/video-http-server/master_2021-09-10-14-29.json
Due: prettier --write

chore: applying package updates. [skip ci]
  apps/video-http-server/package.json
Due: none

docs: update doc
  README.md
  docs/maintainers.md
  docs/overview.md
Due: none

chore(video-http-server): update dev script
  apps/video-http-server/package.json
Due: none

fix(front-end): tooltip should disappear automatically
  apps/front-end/src/App.test.tsx
  apps/front-end/src/List.tsx
Due: eslint --fix --color, prettier --write

fix(front-end): fix long text
  apps/front-end/src/List.tsx
Due: eslint --fix --color, prettier --write

feat(front-end): add tooltip
  apps/front-end/src/List.tsx
  apps/front-end/src/Player.tsx
  apps/front-end/src/Tooltip.tsx
  apps/front-end/src/tools.ts
  apps/front-end/src/useHover.ts
Due: eslint --fix --color, prettier --write

chore: rusn change
  common/changes/video-http-server/master_2021-09-10-14-29.json
Due: none
